.App{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list{
    width: 25%;
    text-align: center;
    margin-right: 1%;
}

.list>div:not(:last-child){
    border-bottom: 1px solid black;
}

.list:hover{
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

.map{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.selected{
    background-color: cadetblue;
}